<table class="table table-striped-columns">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th> 
            <th scope="col">Teléfono</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <th scope="row">{{ usuario.id }}</th>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.telefono }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>