@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    font-family: PT+Sans;
}

.h1 {
    font-size: 30px;
    margin: 20px;
    padding: 15px;
    font-family: Satisfy;
}

.titulo {
    font-family: Satisfy;
}
.btn-personal {
    background-color:#baa5c8;
    color: white;
    border-radius: 10%;
}
.btn-personal:hover {
    background-color: #d2c2dc;;
    margin: 5px;
    margin-right: 10px;
    transform: scale(1.1 , 1.1);
    box-shadow: 2px 3px 3px rgba(0,0,0,0.8);
}

nav img {
    border-radius: 30px;    
    margin: 5px;
    margin-right: 10px;
    background-color: transparent;
    transition: 0.3s
}

nav img:hover {
    margin: 5px;
    margin-right: 10px;
    transform: scale(1.1 , 1.1);
    box-shadow: 2px 3px 3px rgba(0,0,0,0.8);
}

.ul-footer, .li-footer {
    margin: 20px;
}

.futer {
    margin: 0px;
}

#card-footer {
    background-color: #c1a9a8;
    color: white;
    border-color: #c1a9a8;
    align-items: center;
    padding: 30px;
    text-align: justify;
}

footer {
    background-color: #c1a9a8;
    position: relative;
    margin-bottom: 0px;
    margin-top: auto
}

.novedades {
    margin: 20px;
    padding: 15px;
}

.ofertas {
    margin: 20px;
    padding: 15px;
}

.table {
    margin: 20px;
    padding: 15px;
}

.navbar {
    background-color: #E6D3E8
}

body {
    background-color:#e3ede3
}

.registrate {
    color:rgb(181, 137, 228);
    font-weight: bold;
}

.card, .tabla {
    background-color:#DEE8E0;
    outline: #DEE8E0;
}

.redesimg {
    position: relative;
    border-radius: 50%; 
    transition: 0.3s;
    margin: 10px;
}

.redesimg:hover {
    margin: 5px;
    margin-right: 10px;
    transform: scale(1.1 , 1.1);
    box-shadow: 2px 3px 3px rgba(0,0,0,0.8);
}


.carousel-caption {
    transform: translateY(50px);

  }

.noticias {
padding: 30px;

}

.noticia {
padding: 30px;
margin: 10px;
border-color: #ABDEBA;

}

#titular {
    text-align: center;
    color:#907491;
    font-size: x-large;
    margin: 20px;
    font-family: Satisfy;
}
.last {

    color:#907491;
    margin: 20px;
    font-family: Satisfy;
}
.titulo-footer {
    font-family: Satisfy;
    font-size:x-large
}

#cuerpo {
    text-align: justify;
}

.logoprincipal {
    padding: 20px;
    margin-bottom: 40px;
}

.autor {
    text-align: center;
    color: white;
    font-size: small;
}