{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block contenido %}

{% if user.is_authenticated %}

<div class="d-flex justify-content-center">
<h1 id="bienvenida" class="title titulo"> Bienvenido {{ user }} </h1>

</div>
<div class="d-flex justify-content-center">
    <h3 class="title titulo">Conoce las novedades exclusivas que tenemos para ti</h3>
    </div>
<div class="card-group noticias">
    <div class="card noticia">
        <img src="https://placedog.net/640/480?r" class="card-img-top" alt="noticia 1">
        <div class="card-body">
            <h5 id="titular" class="card-title">Noticia 1</h5>
            <p id="cuerpo" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet
                dignissimos, numquam amet vitae neque rerum necessitatibus quis itaque optio excepturi placeat velit
                expedita hic error alias repellat saepe eaque voluptates officiis adipisci accusantium doloremque!
                Explicabo laboriosam illo porro quaerat!</p>

        </div>
    </div>
    <div class="card noticia">
        <img src="https://placedog.net/640/480?r" class="card-img-top" alt="noticia 2">
        <div class="card-body">
            <h5 id="titular" class="card-title">Noticia 2</h5>
            <p id="cuerpo" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eius quam
                tempora perferendis dicta ex!</p>

        </div>
    </div>
    <div class="card noticia">
        <img src="https://placedog.net/640/480?r" class="card-img-top" alt="noticia 3">
        <div class="card-body">
            <h5 id="titular" class="card-title">Noticia 3</h5>
            <p id="cuerpo" class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem
                minima repellendus animi distinctio iusto beatae? Deserunt voluptates aliquam quas ipsam laudantium nemo
                libero similique sit quo pariatur, quasi totam commodi?</p>

        </div>
    </div>
</div>

{% else %}


<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active my-auto">
        <img src="{% static 'assets/images/w1.jpg' %}" class="d-sm-block w-100" alt="..." style="height: 400px";>
        <div class="carousel-caption d-md-block">
          
        </div>
      </div>
      <div class="carousel-item my-auto">
        <img src="{% static 'assets/images/w2.jpg' %}" class="d-sm-block w-100" alt="..." style="height: 400px">
        <div class="carousel-caption d-md-block">
          
        </div>
      </div>
      <div class="carousel-item my-auto">
        <img src="{% static 'assets/images/w3.jpg' %}" class="d-sm-block w-100 " alt="..." style="height: 400px">
        <div class="carousel-caption d-md-block">
         
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<h1 class="h1">Ofertas del mes</h1>
<div class="card-group ofertas">
    <div class="card oferta">
        <div class="card-body">
          <img class="card-img-top" src="https://placedog.net/640/480?r" alt="Card image cap">
            <h5 id="titular" class="card-title">Oferta 1</h5>
            <p  id="cuerpo" class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, in perferendis nam,
                reprehenderit aperiam, ducimus voluptates doloribus ratione tempora ut ad maxime aut repellendus
                debitis! Nostrum pariatur id accusantium, facere voluptas praesentium non cupiditate dolorem provident
                aut voluptate nemo at! Fuga optio ab alias culpa officiis ratione quasi libero hic ipsam corporis. In
                voluptatum facilis nulla voluptate ad, qui, saepe harum natus nobis explicabo consectetur cupiditate
                amet blanditiis, adipisci repellat. Voluptatem, dolore. Iste dolorem cumque quos quisquam veniam laborum
                quod accusamus, a incidunt vero voluptate sint non provident unde dicta ea ipsa labore fugiat architecto
                magnam? Maxime atque fuga voluptatem.</p>
            <p class="card-text">
              <small class="text-body-secondary last">Last updated 4 days ago</small>
            </p>
        </div>
    </div>
    <div class="card oferta">
        <div class="card-body">
          <img class="card-img-top" src="https://placedog.net/640/480?r" alt="Card image cap">
            <h5 id="titular" class="card-title">Oferta 2</h5>
            <p  id="cuerpo" class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut cum laudantium
                exercitationem perspiciatis odit corporis sunt nemo mollitia. Unde excepturi quia earum aliquid deleniti
                nihil consequuntur amet quisquam dignissimos, mollitia quam delectus praesentium pariatur molestiae
                voluptate natus maxime labore? Officia quod voluptatum sit, accusamus error natus voluptates aliquid
                praesentium nulla. Iste mollitia facere ipsum labore praesentium magnam, voluptate sint unde.</p>
            <p class="card-text">
              <small class="text-body-secondary last">Last updated 3 mins ago</small>
            </p>
        </div>
    </div>
    <div class="card oferta">
        <div class="card-body">
          <img class="card-img-top" src="https://placedog.net/640/480?r" alt="Card image cap">
            <h5 id="titular" class="card-title">Oferta 3</h5>
            <p  id="cuerpo" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam fugit minus
                consectetur, molestiae ipsum non, modi error, ab illo magnam veritatis! Suscipit facilis quisquam
                delectus, beatae similique neque quas deleniti eveniet a, excepturi harum aspernatur ad porro obcaecati
                id! Veritatis sunt nihil accusamus expedita sapiente architecto quos, doloribus voluptatem repellat.
                Aspernatur laudantium placeat recusandae dolorum, nostrum iste quae adipisci provident!</p>
            <p class="card-text">
              <small class="text-body-secondary last">Last updated 1 day ago</small>
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endblock contenido %}